@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MoluEt.Models.Asi>
@{
    ViewData["Title"] = "AsiList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form id="searchForm" method="get" action="~/Asi/AsiList" class="form-inline mb-4">
    <div class="input-group input-group-md">
        <input type="text" class="form-control form-control-search" name="searchTerm" placeholder="Aşı Adı ile ara..." aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-search" type="submit">
                <i class="fas fa-search"></i> Ara
            </button>
        </div>
    </div>
    <div class="card-tools">
        <a href="~/Asi/AsiEkle" class="btn btn-success">Yeni Aşı</a>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>Aşı No</th>
        <th>Aşı Adi</th>
        <th>Yapıldığı Ay</th>
        <th>Açıklama</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ASI_NO</td>
            <td><a href="~/Asi/AsiGuncelle/@item.ASI_NO">@item.ASI_ADI</a></td>
            <td>@item.YAP_AY</td>
            <td>@item.ACIKLAMA</td>
        </tr>
    }


</table>
<a href="~/Asi/AsiEkle" class="btn btn-danger">Asi Ekle</a>