@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MoluEt.Models.YemlemeOgun>

@{
    ViewData["Title"] = "YemlemeOgunList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form id="searchForm" method="get" action="~/YemlemeOgun/YemlemeOgunList" class="form-inline mb-4">
    <div class="input-group input-group-md">
        <input type="text" class="form-control form-control-search" name="searchTerm" placeholder="Öğün Açıklama ile ara..." aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-search" type="submit">
                <i class="fas fa-search"></i> Ara
            </button>
        </div>
    </div>
    <div class="card-tools">
        <a href="~/YemlemeOgun/YemlemeOgunList" class="btn btn-success">Yeni Öğün</a>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>Öğün No</th>
        <th>Acıklama</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.OGUNSIRA</td>
            <td><a href="~/YemlemeOgun/OgunGuncelle/@item.OGUNSIRA">@item.ACIKLAMA</a></td>

        </tr>
    }


</table>
<a href="~/YemlemeOgun/YemlemeOgunEkle" class="btn btn-danger">Öğün Ekle</a>