@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "YemlemeOgunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form asp-action="YemlemeOgunEkle" asp-controller="YemlemeOgun" method="post">


    <input placeholder="Açıklama" class="input-group" name="ACIKLAMA" />



    <button asp-action="YemlemeOgunEkle" asp-controller="YemlemeOgun">Öğün Ekle</button>
</form>

