@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<MoluEt.Models.Veteriner>
@{
    ViewData["Title"] = "VeterinerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<table class="table table-bordered">
    <tr>
        <th>Veteriner No</th>
        <th>Veteriner Adi</th>
        <th>Telefon</th>
        <th>Çıkış Tarihi</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.VET_NO</td>
            <td><a href="~/Veteriner/VeterinerGuncelle/@item.VET_NO">@item.VET_ADI</a></td>
            <td>@item.TELEFON</td>
            <td>@item.ISBITIS_TARIH</td>
        </tr>
    }


</table>
<a href="~/Veteriner/VeterinerEkle" class="btn btn-danger">Veteriner Ekle</a>