@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="IrkTanımEkle" asp-controller="IrkTanım" method="post">

    <input placeholder="Irk No" class="input-group-lg" name="IRK_NO" />

    <input placeholder="Irk Adi" class="input-group" name="IRK_ADI" />

    <input placeholder="Ulke Adı" class="input-group" name="ULKE_ADI" />

    <input placeholder="Açıklama" class="input-group" name="ACIKLAMA" />




    <button asp-action="IrkTanımEkle" asp-controller="IrkTanım">Hayvan Ekle</button>
</form>